<a href="https://colab.research.google.com/github/Fabasay007/Univercity/blob/main/Tasks/%22%D0%94%D0%BE%D0%BF%D0%BE%D0%BB%D0%BD%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_%E2%84%962_1_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Дополнительное задание №2.1**

---

**Пункт 1:**

Напишите программу, которая принимает список строк, содержащих числа, и преобраует их в список целых чисел, возведённых в куб. Используйте функции `map()` и `lambda`.

**Пример:**

```python
# Входные данные
numbers = ['1', '2', '3', '4', '5']

# Ожидаемый результат
[1, 8, 27, 64, 125]
```

In [7]:
# Ваш код
numbers = ['1', '2', '3', '4', '5']
kub = list(map(lambda x: int(x)**3, numbers))
print(kub)

[1, 8, 27, 64, 125]

---

**Пункт 2:**

Используя `filter()` и `lambda`, из списка слов отфильтруйте только те, которые начинаются и заканчиваются на одну и ту же букву.

**Пример:**

```python
# Входные данные
words = ['level', 'python', 'radar', 'world', 'rotor']

# Ожидаемый результат
['level', 'radar', 'rotor']
```

In [8]:
# Ваш код
words = ['level', 'python', 'radar', 'world', 'rotor']
word = filter(lambda x: x[0]==x[-1] ,words)
print(list(word))

['level', 'radar', 'rotor']

---

**Пункт 3:**

С помощью `reduce()` и `lambda` найдите наибольшее число в списке чисел.

**Подсказка:** Функция `reduce()` находится в модуле `functools`.

**Пример:**

```python
# Входные данные
numbers = [47, 11, 42, 102, 13]

# Ожидаемый результат
102
```

In [10]:
# Ваш код
from functools import reduce
numbers = [47, 11, 42, 102, 13]
max_num = reduce(lambda x,y: max(x,y),numbers)
print(max_num)

102

---

**Пункт 4:**

Объедините два списка чисел в один список кортежей, где каждый кортеж состоит из элементов исходных списков, возведённых в квадрат и куб соответственно. Используйте функции `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Ожидаемый результат
[(1, 64), (4, 125), (9, 216)]
```

In [14]:
# Ваш код
list1 = [1, 2, 3]
list2 = [4, 5, 6]
bob = zip(map(lambda x:x**2,list1),map(lambda y:y**3,list2))
print(list(bob))

[(1, 64), (4, 125), (9, 216)]

---

**Пункт 5:**

Напишите программу, которая принимает строку с целыми числами, разделёнными запятыми, и вычисляет сумму чётных чисел из этой строки. Используйте функции `map()`, `filter()`, `lambda` и `reduce()`.

**Пример:**

```python
# Входные данные
numbers = '1,2,3,4,5,6,7,8,9,10'

# Ожидаемый результат
30  # (2 + 4 + 6 + 8 + 10)
```

In [33]:
# Ваш код
from functools import reduce
numbers = '1,2,3,4,5,6,7,8,9,10'

summa = reduce(lambda y,z: int(y)+int(z),filter(lambda x: int(x)%2==0,numbers.split(',')))
print(summa)

30


---

**Пункт 6:**

Используя `map()` и `lambda`, преобрауйте список температур в граусах Цельсия в список температур в граусах Фаренгейта. Формула преобраования: F = C * 9/5 + 32.

**Пример:**

```python
# Входные данные
celsius = [0, 15, 30, 100]

# Ожидаемый результат
[32.0, 59.0, 86.0, 212.0]
```

In [35]:
# Ваш код
celsius = [0, 15, 30, 100]
far = map(lambda x: (float(x)*9)/5 +32,celsius)
print(list(far))

[32.0, 59.0, 86.0, 212.0]

---

**Пункт 7:**

У вас есть список чисел. Используя комбинацию функций `filter()`, `map()` и `lambda`, получите новый список, содержащий квадраты нечётных чисел из исходного списка.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Ожидаемый результат
[1, 9, 25, 49, 81]
```

In [38]:
# Ваш код
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sq = map( lambda y:int(y)**2,filter(lambda x:int(x)%2!=0, numbers))
print(list(sq))

[1, 9, 25, 49, 81]

---
**Пункт 8:**

С помощью функции `reduce()` и `lambda` вычислите произведение всех чисел в списке.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5]

# Ожидаемый результат
120  # (1 * 2 * 3 * 4 * 5)
```

In [40]:
# Ваш код
from functools import reduce
numbers = [1, 2, 3, 4, 5]
pr = reduce(lambda x,y:int(x)*int(y),numbers)
print(pr)

120

---

**Пункт 9:**

Дан список строковых представлений чисел. Используя `map()`, `lambda` и метод строки `isdigit()`, преобразуйте список, заменив нечисловые строки на число 0.

**Пример:**

```python
# Входные данные
strings = ['10', '20', 'abc', '30', 'def']

# Ожидаемый результат
[10, 20, 0, 30, 0]
```

In [43]:
# Ваш код
strings = ['10', '20', 'abc', '30', 'def']
num = map( lambda x: int(x)if x.isdigit() == 1 else 0 , strings)
print(list(num))

[10, 20, 0, 30, 0]

---

**Пункт 10:**

Есть два списка координат X и Y одинаковой длины. Используя `zip()` и `lambda`, объедините их в список точек — кортежей `(x, y)`.

**Пример:**

```python
# Входные данные
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]

# Ожидаемый результат
[(1, 4), (2, 5), (3, 6)]
```

In [46]:
# Ваш код
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]
tog= list(zip(x_coords,y_coords))
print(tog)

[(1, 4), (2, 5), (3, 6)]

---

**Пункт 11:**

Напишите программу, которая принимает список слов и возвращает словарь, где ключами являются слова, а значениями — длины этих слов. Используйте `map()` и `lambda`.

**Пример:**

```python
# Входные данные
words = ['apple', 'banana', 'cherry']

# Ожидаемый результат
{'apple': 5, 'banana': 6, 'cherry': 6}
```

In [53]:
# Ваш код
words = ['apple', 'banana', 'cherry']
bob = dict(map(lambda x: (x,len(x)), words))
print(bob)

{'apple': 5, 'banana': 6, 'cherry': 6}

---

**Пункт 12:**

Используя `filter()` и `lambda`, из списка чисел оставьте только простые числа.

**Пример:**

```python
# Входные данные
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

# Ожидаемый результат
[2, 3, 5, 7]
```

*Подсказка:* Для проверки числа на простоту может понадобиться дополнительная функция.

In [65]:
# Ваш код
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
def sinple(j):
  if j <= 1 :
    return False
  for i in range(2,j):
    if j%i == 0:
      return False
  return True
simple = filter(lambda x: sinple(x) , numbers)
print(list(simple))

[2, 3, 5, 7]

---
**Пункт 13:**

Объедините три списка чисел в один список сумм соответствующих элементов. Используйте `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

# Ожидаемый результат
[12, 15, 18]  # (1+4+7, 2+5+8, 3+6+9)
```

In [1]:
# Ваш код
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

summa = map(lambda x,y,z: x+y+z ,list1,list2,list3)
print(list(summa))

[12, 15, 18]

---

**Пункт 14:**

С помощью `reduce()` и `lambda` подсчитайте количество появлений каждого символа в строке (без учета регистра), и выведите символ, который встречается чаще всего.

**Пример:**

```python
# Входные данные
text = 'Functional programming with lambda functions'

# Ожидаемый результат
'n'  # n встречается чаще всего
```

*Подсказка:* Возможно, понадобится преобразовать строку в список символов и использовать словарь для подсчета.

In [6]:
# Ваш код
from functools import reduce
text = 'Functional programming with lambda functions'
bob = reduce(lambda x,y: x if text.count(x) > text.count(y) else y , text )
print(bob)

n

---

**Пункт 15:**

Используя `map()`, `filter()`, `reduce()` и `lambda`, из заданного списка слов найдите общее количество гласных букв.

**Пример:**

```python
# Входные данные
words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']

# Ожидаемый результат
13
```

*Подсказка:* Гласные буквы — 'a', 'e', 'i', 'o', 'u'.

In [30]:
# Ваш код
from functools import reduce
words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']
bob = map(lambda x:1 if x in 'aeiouy' else 0 ,', '.join(words))
print(sum(list(bob)))

13

---